@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #a881e6;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-image: url('assets/cover.png');
}

h1 {
  margin: 2rem;
  margin-left: -6rem;
  color: #ffffff;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 3rem;
}

.board {
  border: 1rem solid #E6A7BA;
  border-image: linear-gradient(45deg, #f3cb74, #E6A7BA) 1;
  background: linear-gradient(45deg, #f5b682, #E6A7BA) ;
  width: 500px;
  height: 500px;
  display: grid;
  border-radius: 30px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  box-sizing: border-box;
}

.squares {
  background: #eccbb5;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}



.X {
  color: #8fb383;
}
.O {
  color: #a592d8;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
  color: #ffffff;
  margin-left: -7rem;
  font-size: 1.5rem;
}


.reset-button{
  background: #ffd782;
  color: #5b319e;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 10px;
}


li {
  list-style: none;
}

.info-wrapper button {
  background: #f6b1ff;
  color: #5b319e;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0.1rem;
}